<h1>Editing Trouser Style</h1>

<%= render 'form', trouser_style: @trouser_style %>


<div class="row"><%= link_to 'Back', store_customer_order_path(@store,@customer,@order) , class: "btn btn-secondary" %></div>
