<div class="row">
<h1>Editing Employee</h1>
</div>

<%= render 'form', employee: @employee %>
<div class="row">
<%= link_to 'Show', [@store,@employee] , class: "btn btn-secondary" %> |
<%= link_to 'Back', store_employees_path(@store) , class: "btn btn-secondary" %>
</div>
