
<div class="container">
<br>
<h1>Create a New Store</h1>
<hr>

<h4>System will generate two logins, admin & store, by default..</h4>
<hr>
<h5>Do Change your Passwords...! recomended</h5>
<hr><hr>
</div>
<%= render 'form', store: @store %>

<div class="container">
<%= link_to 'Back', stores_path , class: "btn btn-secondary" %>
</div>
