<h1>New Store</h1>

<h3>System will generate two logins for admin & store, by default.. Kindly note them, once you create the store.. </h3>
<h2>Do Change your Passwords...! recomended</h2>

<%= render 'form', store: @store %>

<%= link_to 'Back', stores_path %>
