<h1>Editing Customer</h1>

<%= render 'form', customer: @customer %>

<%= link_to 'Show', [@store,@customer] , class: "btn btn-secondary" %> |
<%= link_to 'Back', store_customers_path , class: "btn btn-secondary" %>
