<h1>New Order</h1>

<%= render 'form', order: @order %>

<a href="<%= store_customer_orders_path(@store,@customer) %>"><button class="btn btn-xs btn-primary has-icon">Back</button></a>

<!--<%= link_to 'Back', store_customer_orders_path(@store,@customer) %>-->
